@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular.ttf") 
        url("../fonts/Roboto-Regular.ttf");
}

body[dark-theme] {
    --color1: #0d0e0d;
    --color2: #07d18a;
    --color3: rgb(255, 99, 209);
}

body {
    --color1: rgb(212, 205, 205);
    --color2: #0d0e0d;
}

body {
    font-size: 1em;
    font-family: "Roboto";
    margin: 2em;
    background: var(--color1);
    color: var(--color2);
}  

a {
    color: var(--color3);
}

.header {
    display: flex;
    place-items: center center;
}

.dark-mode-btn {
    border-radius: 10px;
    margin-right: 1em;
}

