@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular.ttf") 
        url("../fonts/Roboto-Regular.ttf");
}

body {
    font-size: 1.25em;
    font-family: "Roboto";
    margin: 5%;
}  

@media only screen and (min-width: 768px) {
    body {
        margin: 5% 10%;
    }  
}

li {
    margin-bottom: 10px;
}