<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#92a7ff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#0d0e0d" media="(prefers-color-scheme: dark)">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{'assets/css/index.css' | relative_url}}">
    <link rel="shortcut icon" href="#" />
  </head>
  <body>
    <div class="header">

      <a href="{{ '/index.html' | relative_url }}">Back</a>
    </div>
    {{ content }}
  </body>
</html>